<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Drinks_show</title>
  
</head>
<style>
  body {
  background-color: #ce8314; 
  color: white;
  text-align: center;
  
}

h1 {
  font-size: 40px;
}

div {
  display: inline-block;
  margin: 30px;
  padding: 10px;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  border: 3px solid white;
  font-size: 25px;
} 

</style>
  <body>

    <h1>Home</h1>
    <div>
      <a href="/food">Go to Food Section</a>
      <img class="food-image" src="public/images/food_image.jpeg" alt="">
    </div>
    
    <div>
      <a href="/drinks">Go to Drinks Section</a>
      <img src="public/images/drink_image.jpeg" alt="">
    </div>

  </body>
</html>